.whatsapp-fab {
    position: fixed;
    right: 18px;
    bottom: 300px;
    background: #25D366;
    color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 18px rgba(37, 211, 102, 0.18);
    z-index: 40;
    text-decoration: none;
}