:root {
    --bg: #ffffff;
    --primary: #e53935;
    /* Principal Red */
    --dark: #0b1220;
    /* footer oscuro */
    --muted: #6b7280;
    --card-bg: #ffffff;
    --max-width: 1440px;
    --radius: 10px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    color: #0f1724;
    background: var(--bg);
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}